theme = "zed_onedark"

[editor]
line-number = "absolute"
mouse = true
cursorline = true
true-color = true
color-modes = true
text-width = 120
rulers = [100]
auto-format = true
scrolloff = 5
bufferline = "multiple"

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.indent-guides]
render = true
character = "╎"

[editor.file-picker]
hidden = false     # "Enables ignoring hidden files" - should be named "ignore_hidden_files" (or similar)
ignore = false     # hide items in ignore files
git-ignore = false # hide items in git-ignore files

[editor.gutters]
layout = ["diff", "diagnostics", "line-numbers", "spacer"]

[editor.soft-wrap]
enable = true
wrap-at-text-width = true

[editor.statusline]
left = [
  "mode",
  "spinner",
  "file-name",
  "file-modification-indicator",
  "version-control",
]
center = ["spacer"]
right = [
  "diagnostics",
  "read-only-indicator",
  "file-encoding",
  "file-line-ending",
  "file-type",
  "position",
  "total-line-numbers",
]

[editor.auto-save]
focus-lost = true

[editor.lsp]
display-messages = true
display-inlay-hints = true # may have perf impact

[editor.inline-diagnostics]
cursor-line = "hint"

[editor.whitespace.render]
space = "all"
tab = "none"
nbsp = "all"
nnbsp = "none"
newline = "none"

[editor.whitespace.characters]
space = "·"
nbsp = "◦"
#tab = "◦"
