#
# golang
#
[language-server.gopls.config]
gofumpt = true

[[language]]
name = "go"
auto-format = true
formatter = { command = "gofumpt" }

[language.indent]
tab-width = 4
unit = "\t"

#
# markdown
#
[language-server.harper-ls]
command = "harper-ls"
args = ["--stdio"]

[[language]]
name = "markdown"
language-servers = ["marksman", "harper-ls"]
formatter = { command = "dprint", args = ["fmt", "--stdin", "md"] }
auto-format = true
