#
# golang
# 
[language-server.gopls.config]
gofumpt = true
# language-servers = ["gopls", "golangci-lint2-langserver"]

# [language-server.golangci-lint2-langserver]
# command = "golangci-lint-langserver"

# [language-server.golangci-lint2-langserver.config]
# command = [
#   "golangci-lint",
#   "run",
#   "--output.json.path",
#   "stdout",
#   "--show-stats=false",
#   "--issues-exit-code=1",
# ]

[[language]]
name = "go"
auto-format = true
formatter = ["gofumpt"] # gofmt would also work
