#
# golang
#

# Language server: gopls
# Install: go install golang.org/x/tools/gopls@latest
[language-server.gopls]
command = "gopls"

[[language]]
name = "go"
auto-format = true
language-servers = ["gopls"]
# Formatter: goimports (formats + manages imports)
# Install: go install golang.org/x/tools/cmd/goimports@latest
formatter = { command = "goimports" }

[language.indent]
tab-width = 4
unit = "\t"

#
# markdown
#

# tools:
#  cargo install dprint
#  cargo install --locked harper-ls
#  cargo install --locked --git https://github.com/Feel-ix-343/markdown-oxide.git markdown-oxide

[language-server.harper-ls]
command = "harper-ls"
args = ["--stdio"]

[language-server.markdown-oxide]
command = "markdown-oxide"

[[language]]
name = "markdown"
file-types = ["md", "markdown", "mdc"]
language-servers = ["markdown-oxide", "harper-ls"]
formatter = { command = "dprint", args = ["fmt", "--stdin", "md"] }
auto-format = true
